.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.highlight {
  border-color: #ff0000;
  background-color: #ffdddd;
}
.drop-area {
  width: 300px;
  height: 200px;
  border: 2px dashed #ccc;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
  margin: 20px auto;
}

.error-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffdddd;
    color: #ff0000;
    font-weight: bold;
    border: 2px solid #ff0000;
    border-radius: 5px;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .error-message.show {
    opacity: 1;
  }